server:
  port: 8080

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    hostname: api-gateway

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user_service_basic
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
          filters:
            - RewritePath=/api/users/(?<segment>.*), /api/users/${segment}
