server:
  port: 8081

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    hostname: user-service

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://postgres:5432/postgres
    username: user
    password: 1234
